<ion-view title="{{'M_TITEL_METER_DETAIL'|translate}}">

    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-checkmark" ng-click="onItemUpdate()" ng-cloak ng-show="isChanged"></a>
    </ion-nav-buttons>

    <ion-content class="has-header">

        <form>

            <label class="item item-input item-stacked-label">
                <span class="input-label">{{'F_LABEL_NAME'|translate}}</span>
                <input type="text" ng-model="meter.name" ng-change="change()"placeholder="{{'F_PLACE_NAME'|translate}}"/>
            </label>


            <label class="item item-input item-stacked-label">
                <span class="input-label">{{'F_LABEL_LOCATION'|translate}}</span>
                <input type="text" ng-model="meter.location" ng-change="change()" placeholder="{{'F_PLACE_LOCATION'|translate}}"/>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">{{'F_LABEL_NUMBER'|translate}}</span>
                <input type="text" ng-model="meter.number" ng-change="change()" placeholder={{'F_PLACE_NUMBER'|translate}}"/>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">{{'F_LABEL_UNIT'|translate}}</span>
                <input type="text" ng-model="meter.unit" ng-change="change()" placeholder="{{'F_PLACE_UNIT'|translate}}"/>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">{{'F_LABEL_COMMENT'|translate}}</span>
                <input type="text" ng-model="meter.comment" ng-change="change()" placeholder="{{'F_PLACE_LOCATION'|translate}}"/>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">{{'F_LABEL_UNITPRICE'|translate}}</span>
                <input type="number" ng-model="meter.unitPrice" ng-change="change()" placeholder="{{'F_PLACE_UNITPRICE'|translate}}"/>
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">{{'F_LABEL_ID'|translate}}</span>
                {{meter._id}}
            </label>

        </form>

    </ion-content>

</ion-view>
