<ion-view title="{{'APP_TITLE'|translate}}">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-plus-round" ng-click="onItemNew()"></a>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list can-swipe="true">
            <ion-item ng-repeat="oneElement in data.ListOfElements" type="item-text-wrap"
                      href="#/app/meter/{{oneElement.doc._id}}/readings">
                <h2 align="center">{{oneElement.doc.name}} - {{oneElement.doc.number}}</h2>
                <ion-option-button class="button-assertive" ng-click="onItemDelete($index)">
                    {{'B_DELETE'|translate}}
                </ion-option-button>
                <ion-option-button class="button-calm" ng-click="onItemEdit($index)">
                    {{'B_EDIT'|translate}}
                </ion-option-button>

            </ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="fetchMoreLines()" ng-if="!data.noMoreItemsAvailable"
                             distance="10%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
