<ion-view title="{{'M_TITEL_READINGS'|translate}}">
    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-plus-round" ng-click="onItemNew()"></a>
    </ion-nav-buttons>
    <ion-content class="has-header">

        <div class="card">
            <div class="item item-text-wrap">
                <div style="text-align: center; font-weight: bold;">{{meter.name}} - {{meter.number}}</div>
                <br/>
                <div style="text-align: center; font-weight: bold;">{{meter.comment}}</div>
            </div>
        </div>


        <ion-list can-swipe="true">
            <div ng-repeat="groupedPair in data.groupedPairs track by groupedPair[0]">
                <ion-item class="item-divider">
                    {{groupedPair[0]}}
                </ion-item>
                <ion-item ng-repeat="item in groupedPair[1] track by item.key">
                    <div class="row">
                        <div class="col">
                            <h2 align="center">
                                <b>{{item.doc.inputDateTime | date : 'dd' }}</b>
                                ( {{item.doc.inputDateTime | date : 'HH:mm' }} )
                            </h2>
                        </div>
                        <div class="col"><h2 align="center">{{item.doc.readingValue | number : 2}}</h2></div>
                    </div>
                    <ion-option-button class="button-assertive" ng-click="onItemDelete(item)">
                        {{'B_DELETE'|translate}}
                    </ion-option-button>
                    <ion-option-button class="button-calm" ng-click="onItemEdit(item)">
                        {{'B_EDIT'|translate}}
                    </ion-option-button>

                </ion-item>
            </div>
        </ion-list>

        <ion-infinite-scroll on-infinite="fetchMoreLines()" ng-if="!data.noMoreItemsAvailable"
                             distance="10%"></ion-infinite-scroll>
    </ion-content>
</ion-view>
