<ion-view title="{{'F_TAB_HELP'|translate}}">
    <ion-content class='center'>
        <div id="eccoz-list">
        <ul>
            <li>
                Der Quellcode dieses Programms finden sie hier:<br/>
                <a href="https://github.com/ahackl/EccoZ">https://github.com/ahackl/EccoZ</a><br/>
            </li>

            <li>
            Anregunegn und Fehler können hier gemeldet werden:<br/>
             <a href="https://github.com/ahackl/EccoZ/issues">https://github.com/ahackl/EccoZ/issues</a><br/>
            </li>

            <li>
            ACHTUNG: Die Datenstruktur ist nicht mit der Version 1 kompatibel.
            </li>


            <li>
            Die Anmeldung dient nur dazu, das Kennwort des WebDAV-Servers zu verschlüsseln.
        Alle andern Daten bleiben unverschlüsselt. Die Geste kann jderzeit geändert werden,
        wenn danach das Kennwort erneut in den Einstellungen hinterlegt wird.
            </li>

            <li>
            Der Datentransfer wird nur über HTTP, d.h. unverschlüsselt durchgeführt.
            </li>

            <li>
            Die einzelnen Zähler und die Zählerstände können über eine Wischgeste von rechts nach links geändert werden.
            </li>

            <li>
            Um die Diagramme zu aktualisieren kann einen Wischgeste von oben nach unten benutzt werden.
            </li>
        </ul>
        </div>


    </ion-content>
</ion-view>
