/* Empty. Add your own CSS if you like */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
    display: none !important;
}
.eccoz-square {
    /* width within the parent.
       can be any percentage. */
    width: 100%;
    background-color: ghostwhite;
}
.eccoz-square:before {
    content: "";
    float: left;
    /* essentially the aspect ratio. 100% means the
       div will remain 100% as tall as it is wide, or
       square in other words.  */
    padding-bottom: 25%;
}
/* this is a clearfix. you can use whatever
   clearfix you usually use, add
   overflow:hidden to the parent element,
   or simply float the parent container. */
.eccoz-square:after {
    content: "";
    display: table;
    clear: both;
}
#eccoz-list {
    width: 80%;
    margin: 30px auto;
    font-size: 20px;
}
#eccoz-list ul {
    margin-top: 30px;
}
#eccoz-list ul li {
    text-align: left;
    list-style: disc;
    margin: 10px 0px;
}